<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeContent %> </p>

<% for(let i = 0; i < postsContent.length; i++) { %>
    <h3> <%= postsContent[i].title %> </h3>
    <p> <%= postsContent[i].content %> </p>
<% } %>

<%- include("partials/footer") -%>